# backend/requirements.txt
Flask
Flask-Cors
bcrypt
jupyter-client
ipykernel
pandas
numpy
openpyxl
google-generativeai
waitress 
librosa 
numpy 
scipy 
soundfile 
pandas 
matplotlib
#pip install -r requirements.txt
